= form_for @user_session do |f|
  = f.text_field :name, placeholder: 'Username'
  = f.password_field :password, placeholder: 'Password'
  = f.hidden_field :remember_me, value: true
  = f.submit 'login'