!!! 5
%html
  %head
    %title Robot Fightz
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - if current_user.blank?
      %p#notice= notice
      %h3 who are you?
      login:
      = render 'user_sessions/new'
      or new user:
      = render 'users/new'
    - else
      %div{'ng-app' => 'rf'}
        %div{'ng-controller' => 'AppController'}
          .row
            .small-12.columns
              %h1
          .row
            .small-12.columns
              %p#notice= notice
              %p#ng-notice
          .row
            .medium-2.columns
              %ul.side-nav
                %li
                  %a{:href => '#/'} Home
                %li
                  %a{:href => '#/messages'} Messages ({{unread_messages_count}})
                %li
                  %a{:href => '#/robots'} Robots
                %li
                  = link_to 'logout', logout_path, :method => :delete
            .medium-10.columns
              .panel
                %div{'ng-view'=>''}


:javascript
  function AppController($scope, $rootScope, $http) {
      $rootScope.$on('$locationChangeSuccess', function (event) {
          $('#ng-notice').html('');
          $http({
              method : 'GET',
              url : 'messages/unread_count.json'
          }).success(function(data, status, headers, config) {
              $scope.unread_messages_count = data.unread_count
          });
      });
  }
  angular
  .module('rf', ['ngRoute'])
  .config(['$httpProvider', function($httpProvider){
      $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content');
  }])
  .config(['$routeProvider', function ($routeProvider) {
      $routeProvider
      .when('/', {templateUrl: 'angular_views/home'})
      .when('/messages', {controller: 'MessageController', templateUrl: 'angular_views/messages'})
      .when('/robots', {controller: 'RobotController', templateUrl: 'angular_views/robots'})
  }]);