!!! 5
%html
  %head
    %title Robot Fightz
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - if current_user.blank?
      %p#notice= notice
      %h3 who are you?
      login:
      = render 'user_sessions/new'
      or new user:
      = render 'users/new'
    - else
      .row
        .small-12.columns
          %h1 robot fightz
      .row
        .small-12.columns
          %p#notice= notice
          %p#ng-notice
      .row
        .medium-2.columns
          %ul.side-nav
            %li
              %a{:href => '#/'} Home
            %li
              %a{:href => '#/robots'} Robots
            %li
              = link_to 'logout', logout_path, :method => :delete
        .medium-10.columns
          .panel
            %div{'ng-app' => 'rf'}
              %div{'ng-controller' => 'AppController'}
                %div{'ng-view'=>''}


:javascript
  function AppController($scope, $rootScope) {
      $rootScope.$on('$locationChangeSuccess', function (event) {
          $('#ng-notice').html('');
      });
  }
  angular
  .module('rf', ['ngRoute'])
  .config(['$httpProvider', function($httpProvider){
      $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content');
  }])
  .config(function ($routeProvider) {
      $routeProvider
      .when('/', {templateUrl: 'angular_views/home'})
      .when('/robots', {controller: 'RobotController', templateUrl: 'angular_views/robots'})
  });