!!! 5
%html
  %head
    %title Mech Fightz
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .body
      - if current_user.blank?
        %p#rails-notice= notice
        %h3 who are you?
        login:
        = render 'user_sessions/new'
        or new user:
        = render 'users/new'
      - else
        %div{'ng-app' => 'robot_rpg'}
          %div{'ng-controller' => 'ApplicationController'}
            .row
              .small-12.columns
                %h1
            .row
              .small-12.columns
                %p#rails-notice(style="display: none;")=# notice # TODO figure out how to handle better
                %p#notice
                %span.error.animate-repeat{'ng-repeat' => 'error_message in error_messages.queue() track by $index',
                                           'class' => '{{error_message.fail_class}}'}
                  {{error_message.fail_s}}
            .row
              .medium-2.columns
                %ul.side-nav
                  %li
                    %a{:href => '#/'} Home
                  %li
                    %a{:href => '#/messages'} Messages ({{unread_messages_count}})
                  %li
                    %a{:href => '#/mechs'} Mechs
                  %li
                    %a{:href => '#/fights'} Fights
                  %li
                    = link_to 'logout', logout_path, :method => :delete
              .medium-10.columns
                .panel
                  .ng-view